<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VehicleRental</title>
    <link href='https://unpkg.com/fundamental-styles@latest/dist/fundamental-styles.css' rel='stylesheet'>
    @Html.Raw("<link href='https://unpkg.com/@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon_hcb/css_variables.css' rel='stylesheet'>")
    
</head>
<body>
    
</body>
</html>